<div>
  <div>
    <input type="text" [(ngModel)]="bname"  (keyup)="search()" name="search"  id="search" placeholder="Search Title ">

  </div>
    <table class="table table-hover">
         <tbody>
            <tr>
              <th>Book Id</th>
              <th>Book Title </th>
              <th>Year </th>
              <th>Author</th>
              <th>Action</th>
            </tr>
      <tr  *ngFor="let book of arr;let i=index">
           <td>{{book.id}}</td>
           <td>{{book.title}}</td>
           <td>{{book.year}}</td>
           <td><a routerLink="/author/{{book.author}}">{{book.author}}</a></td>
           <td><button (click)="update(book)" class="btn btn-primary">Update</button></td>
           <td><button (click)="delete(i)" class="btn btn-primary">Delete</button></td>
      </tr>


         </tbody>

    </table>

    <div *ngIf="flag">
      <form #bookform="ngForm" novalidate>

        <div class="form-group">
          <label for="bookid">Enter Book  Id </label>
          <input [(ngModel)]="book.id" type="number"  class="form-control" name="bookid"  id="bookid" required>
        </div>

        <div class="form-group">
            <label for="booktitle">Enter Book Title </label>
            <input  [(ngModel)]="book.title"  pattern="([a-zA-Z]+\s)*[a-zA-Z]+" minlength="4" type="text"  class="form-control" name="booktitle"  id="booktitle" #booktitle="ngModel" required>

  <div *ngIf="booktitle.invalid && (booktitle.dirty || booktitle.touched)"
             class="alert alert-danger">

  <div *ngIf="booktitle.errors.required">
    Book Name is required.
  </div>
  <div *ngIf="booktitle.errors.minlength">
    Book Name must be at least 4 characters long.
  </div>
  <div *ngIf="booktitle.errors.pattern">
    Book Name should contain only alpha characters.
  </div>
  </div>

        </div>

        <div class="form-group">
            <label for="year">Enter year </label>
            <input [(ngModel)]="book.year"  type="number"  class="form-control" name="year"  id="year" required>
        </div>
        <div class="form-group">
          <label for="author">Enter Author Name </label>
          <input [(ngModel)]="book.author"  type="text"  class="form-control" name="author"  id="author" required>
      </div>
       <button  (click)="updateBook()" [disabled]="!bookform.form.valid"    type="submit" class="btn btn-primary">Update Book </button>

      </form>
    </div>

</div>
